
@model CafeMenu.Models.Category
@{
    ViewBag.Title = "Edit";
}

<div class="row">
    <div class="col-lg-6">
        <div class="card-style settings-card-2 mb-30">
            <form action="/Category/Edit" method="post">
                <input type="hidden" name="CategoryID" value="@Model.CategoryID" />

                <div class="row">
                    <div class="col-6">
                        <div class="input-style-1">
                            <label>Name</label>
                            <input type="text" id="CategoryName" name="CategoryName" placeholder="CategoryName" value="@Model.CategoryName" />
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="input-style-1">
                            <label>Surname</label>
                            <input type="number" id="ParentCategoryID" name="ParentCategoryID" placeholder="ParentCategoryID" value="@Model.ParentCategoryID" />
                        </div>
                    </div>
                   
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <a href="@Url.Action("Index", "Category")" class="btn btn-secondary">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



