@model CafeMenu.Models.Property


<div class="row">
    <div class="col-lg-6">
        <div class="card-style settings-card-2 mb-30">
            <form action="/Property/Edit" method="post">
                <input type="hidden" name="PropertyID" value="@Model.PropertyID" />

                <div class="row">
                    <div class="col-6">
                        <div class="input-style-1">
                            <label>Key</label>
                            <input type="text" id="Key" name="Key" placeholder="Key" value="@Model.Key" />
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="input-style-1">
                            <label>Value</label>
                            <input type="text" id="Value" name="Value" placeholder="Value" value="@Model.Value" />
                        </div>
                    </div>
   
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <a href="@Url.Action("Index", "Property")" class="btn btn-secondary">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


